{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- ^^Changes navbar light to dark above -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All Menus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu Editor</a>
        </li>
      </ul>
    </div>
  </nav>
